# Dart / Flutter build outputs
.dart_tool/
build/
pubspec.lock
*.iml

# IntelliJ / Android Studio
.idea/
custom_lint.log
packages/*/.flutter-plugins-dependencies
packages/*/coverage/
packages/*/test/all_tests*.dart
